<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->


<!--Per poter utilizzare il 2-way-databinding è necessario importare nell'AppModule il FormsModule.
    IL Two-way-binding permette di andare a modificare sia lato front che back(in questo caso parliamo del component.ts) il
    valore associato alla variabile: andando a modificare l'imput, si modificherà la variabile, e se si va a modificare la variabile
    automaticamente si modifica anche il valore dell'input. Tutto in maniera automatica e a runtime.
-->

<input type="text" class="form-control" [(ngModel)]="serverName">

<!--<p>{{serverName}}</p>-->
<hr><br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()" > Aggiungi Server</button>

<!--
Property binding lega un elemento sempre del component.ts a un attributo del DOM che fa parte del component.html.
L'attributo interessato deve essere racchiuso tra parentesi quadre [], così Angular sa associare l'attributo.
Così facendo posso rendere dinamica una proprietà

-->
<!--<p> {{allowNewServer}}</p> -->
<!--<p [innerHTML]="allowNewServer"></p>-->


<!-- Per usare l'event Binding dobbiamo mettere in nome dell'evento tra parentesi tonde () e poi associarlo all'elemento che ci interessa o il codice che vogliamo eseguire-->
<br>
<!--<p> {{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated; else noServer">Il server è stato creato, e si chiama {{serverName}}</p>
<ng-template #noServer>
  <p>Nessun server creato</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>
